.logo-block {
	background: rgb(232, 77, 112);
	background: radial-gradient(
		circle,
		rgba(232, 77, 112, 1) 0%,
		rgba(163, 55, 246, 1) 50%,
		rgba(40, 167, 237, 1) 100%
	);
	color: #ffffff;
	padding-top: 4rem;
}

.tag:not(body) {
	background-color: #f2f4ff;
	color: #4661e6;
	padding: 1.2rem;
	font-weight: 500;
	border-radius: 12px;

	&:hover {
		cursor: pointer;
		color: #f2f4ff;
		background-color: #4661e6;
	}
}

.active-tag {
	color: #f2f4ff !important;
	background-color: #4661e6 !important;
}

.roadmap__title {
	display: flex;
	justify-content: space-between;
}

.roadmap__status {
	display: flex;
	justify-content: space-between;
}

.roadmap__link {
	text-decoration: underline;
}

.statuses {
	width: 80%;
	.status-dot {
		display: inline-block;
		padding: 3px;
		margin-right: 1rem;
		margin-bottom: 3px;
		border-radius: 50%;
	}
	.planned-color {
		background-color: #f49f85;
	}
	.progress-color {
		background-color: #ad1fea;
	}
	.live-color {
		background-color: #62bcfa;
	}
}

.navbar {
	background-color: #373f68;
	border-radius: 10px;

	&-brand {
		margin-left: -1em;
	}

	&-item {
		img {
			width: 23px;
			height: 24px;
		}
	}

	.suggestions__amount {
		color: #ffffff;
		font-weight: bolder;
		font-size: 1.1em;
	}
}

.menu-btn {
	background-color: #373f68;
	border-color: #373f68;
	color: #ffff;
	border: none;
	margin-left: 1em;
	&:hover {
		color: #f2f4fe;
	}
}

.dropdown__sort,
.dropdown__sorttype,
.fa-angle-down {
	font-size: 0.9rem;
	margin-right: 3px;
	color: #ffff;
}

.dropdown__sorttype {
	font-weight: 500;
}

.dropdown-menu {
	margin-top: 1em;
	margin-left: 2em;
	width: 50%;
	.dropdown-content {
		padding-bottom: 0.2rem;
		padding-top: 0.2rem;
		width: 110%;
		a.dropdown-item {
			&:hover {
				background-color: transparent;
				color: #ad1fea;
			}
		}
	}
}

.add-feedback {
	.is-add {
		background-color: #ad1fea;
		color: #fff;
		font-weight: bolder;
		font-size: 0.9rem;
		border: none;

		&:hover {
			background-color: #c75af6;
		}

		.add-feedback-plus {
			margin-right: 5px;
		}
	}
}

.nav-flex {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-grow: 1;
	padding: 5px;
	.nav-left {
		display: flex;
		align-items: center;
		width: 75%;
	}
	.nav-right {
		width: 25%;
	}
}

.notification {
	background-color: #ffffff;
}
