// Bulma Styling
.notification {
	background-color: transparent;
}

// Custom Styling
.feedback {
	padding-left: 0 !important;
	padding-right: 0 !important;
	display: flex;
	flex-direction: column;
}
